.menuItem p {
    margin: 0;
    display: flex;
    justify-content: end;
    font-weight: 800;
    padding: 5px;
    margin: 0px 10px 5px 10px;

}

.Notifications {
    width: 55vmin;
    position: relative;
    border: 1px dashed rgb(225, 29, 63);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-size: 1.1rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
}

.Notifications button {
    border: 0px;
    font-size: 15px;
    position: absolute;
    right: 0px;
    margin-right: 3px;
}

.Notifications p {
    margin-bottom: 0px;
}

.Notifications ul {
    display: flex;
    flex-direction: column;
    align-items: start;
}

li[data-notification-type="default"] {
    color: rgb(9, 9, 182);
}

li[data-notification-type="urgent"], li[data-notification-type=""] {
    color: rgb(240, 86, 112);
}

.strong {
    color: rgb(255, 0, 43);
    font-weight: 900;
}