table {
    padding: 0px;
    width: 90%;
    margin: 50px;
    border: 2px solid rgb(229, 228, 228);
    border-radius: 2px;
}

table thead th{
    border-bottom: 2px solid rgb(229, 228, 228);
}

table thead tr:nth-child(2) {
    text-align: left;
}

table tbody {
    font-weight: 500;
    text-align: left;

}